html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: $m-size; 
    background: $dark-blue;
}
a {
    text-decoration: none !important;
}
button {
    cursor: pointer;
    border-radius: .2rem;
    outline: none;
}
button:disabled {
    cursor: default;
}