html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: $m-size; 
    background: $dark-blue;
}
a {
    text-decoration: none !important;
}
button {
    cursor: pointer;
    border-radius: .2rem;
    outline: none;
}
button:disabled {
    cursor: default;
}
.back-button {
    top: 10px;
    left: 100px;
    font-size: 50px;
    color: $blue;
}
.back-button:hover {
    color: $light-blue;
}
.header-orientation {
    display: flex;
    justify-content: space-between;
}